*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    background-color:burlywood ;
}
H1{
    text-align: center; 
    padding-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 5px red;
    font-size: 35px;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 20px 20px 20px 20px rgb(183, 165, 141) ,
                      10px 10px 10px rgba(195, 12, 12, 0.46)  ;
    display: grid;
    grid-template-columns: repeat(3 ,70px);
}
input{
    grid-column: span 3;
    height: 90px;
    background-color: rgb(184, 160, 126);
    font-size: 30px;
    border: none;
    border-radius: 10px 10px 0px 0px;
    color: rgb(236, 242, 245);
    text-align: end;
    margin: 10px 5px 8px 5px;
    padding: 15px;
}
button{
    height: 30px;
    border-radius: 8px;
    font-size: 18px;
    background-color: rgb(202, 185, 163);
}
